/* .hire_btn {
  background: #fff;
  color: #0e1b31;
}

.hire_btn a {
  text-decoration: none;
  font-weight: 500;
  color: #0e1b31;
} */

.hire_btn:hover a {
  color: #0e1b31;
}

.hero_title span {
  color: #7865ff;
}

.hero_title {
  font-weight: 600;
}

.hero_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hero_imags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content p {
  line-height: 30px;
  font-weight: 300;
}

.contact_btn {
  text-decoration: none;
}

/* Responsive */

@media only screen and (min-width: 992px) {
  .hero_section {
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 992px) {
  .hero_content p {
    font-style: 0.8rem;
  }

  .hero_btns button {
    display: block;
    padding: 5px 20px;
  }

  .hero_section {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .hero_img {
    padding: 40px 0;
  }
}

@media only screen and (max-width: 576px) {
  .hero_section {
    margin-top: 80px;
  }
  .hero_img {
    margin: auto;
  }

  .hero_content {
    margin-bottom: 50px;
  }
  .hero_title {
    font-size: 1.5rem;
  }
}
