.single_volunteer {
  background: #132347;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #7865ff;
}

.volunteer_item {
  width: 65%;
}

.volunteer_title span {
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
  font-size: 0.8rem;
}

.volunteer_year {
  color: #fff;
  margin-bottom: 15px;
}

@media only screen and (max-width: 992px) {
  .volunteer_title {
    font-size: 0.8rem;
  }

  .volunteer_title span {
    font: size 0.7rem;
  }

  .volunteer_year {
    font-size: 0.7rem;
  }
}
